/* Overall Layout Styles */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    

}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(131,149,240);
    background: linear-gradient(153deg, rgba(131,149,240,1) 23%, rgba(255,255,255,1) 84%);
}



/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

footer {
    /* No absolute positioning here, let it come naturally at the end of content */
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

/* Main Content Styles */
.main-content {
  flex: 1; /* This will make the content expand to fill the available space */
  padding: 20px; /* Adjust padding as needed */
  position: relative; /* Consider removing 'bottom: 30px;' if it's causing layout issues */
  overflow: auto; /* Change to 'auto' if you want the scrollbar to appear only when needed */
  bottom: 30px;
  top: 5px;
}



/* Updated styles for the login container */
.login-wrapper {
  width: 400px;
  padding: 50px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Styles for the welcome message */
.welcome-message {
    font-size: 20px;
    color: white;
}

/* Styles for form groups */
.form-group {
    margin-bottom: 15px;
}

/* Styles for labels */
label {
    display: block;
    margin-bottom: 5px;
}

/* Styles for email and password inputs */
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    min-width: 250px; /* Minimum width for inputs */

}

/* Styles for the login button */
.login-button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #3f38c9;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s;
}

/* Styles for the login button on hover */
.login-button:hover {
    background-color: #6963e8;
}

#createPost, #filterPost {
  background-color: #3f38c9;
}

/* Styles for error messages */
.error-message {
    color: #d9534f;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    text-align: center;
    /* Reserve space for the error message to prevent layout shift */
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Styles for the logout button */
.logout-button {
    padding: 10px 20px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s;
    margin: 10px 5px;
}

/* Styles for the welcome-logout container */
.welcome-logout-container {
  display: flex;
  justify-content: space-between; /* This will push the logout button to the far right */
  align-items: center;
  padding: 0 20px; /* Add horizontal padding to the container */
  width: 100%; /* Ensure the container spans the entire width of its parent */
}


/* Styles for the logout button on hover */
.logout-button:hover {
    background-color: #c9302c;
}



/* Comment Box Styles */
.comment-box {
    width: 100%;
    padding: 10px;
    margin-top: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}


.filter-by-topic select {
  margin-right: 10px; 
}


/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {


    .welcome-logout-container {
        padding: 0 10px; /* Less padding on the sides */
    }

    .welcome-message {
        font-size: 1rem; /* Smaller font size for smaller screens */
    }

    .logout-button {
        padding: 8px 16px; /* Slightly smaller padding for the button */
        font-size: 0.9rem; /* Smaller font size for the button */
    }

    .login-button {
        padding: 8px; /* Smaller padding for the button */
        font-size: 0.9rem; /* Smaller font size for the button */
    }

}

